@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ercajq');
  src:  url('fonts/icomoon.eot?ercajq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ercajq') format('truetype'),
    url('fonts/icomoon.woff?ercajq') format('woff'),
    url('fonts/icomoon.svg?ercajq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e92c";
}
.icon-phone1:before {
  content: "\e92b";
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path1:before {
  content: "\e901";
  color: rgb(255, 255, 255);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(230, 231, 232);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(102, 212, 155);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(92, 191, 140);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(92, 191, 140);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(253, 208, 140);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(253, 208, 140);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(253, 193, 101);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path12:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(102, 212, 155);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path13:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path14:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path15:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(92, 191, 140);
}
.icon-iconfinder_5826047_coronovirus_fever_plane_travel_virus_icon .path16:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-iconfinder_5355685_airplane_christmas_holiday_plane_snow_icon:before {
  content: "\e918";
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon .path1:before {
  content: "\e919";
  color: rgb(83, 175, 128);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(83, 175, 128);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(193, 193, 192);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: none;
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(193, 193, 192);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon .path6:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(193, 193, 192);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon .path7:before {
  content: "\e91f";
  margin-left: -1em;
  color: none;
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon .path8:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(141, 206, 168);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon .path9:before {
  content: "\e921";
  margin-left: -1em;
  color: none;
}
.icon-facebook:before {
  content: "\e9a0";
}
.icon-instagram:before {
  content: "\e9a1";
}
.icon-mail:before {
  content: "\e9a2";
}
.icon-map-pin:before {
  content: "\e9a3";
}
.icon-menu:before {
  content: "\e9a4";
}
.icon-phone:before {
  content: "\e9a5";
}
.icon-whatsapp:before {
  content: "\e9a6";
}
.icon-youtube:before {
  content: "\e9a7";
}
.icon-close:before {
  content: "\e9a8";
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon1 .path1:before {
  content: "\e922";
  color: rgb(11, 4, 67);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon1 .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(11, 4, 67);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon1 .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(193, 193, 192);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon1 .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: none;
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon1 .path5:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(193, 193, 192);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon1 .path6:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(193, 193, 192);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon1 .path7:before {
  content: "\e928";
  margin-left: -1em;
  color: none;
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon1 .path8:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 218, 5);
}
.icon-iconfinder_1061154_beach_journey_sea-side_summer_sun-glasses_icon1 .path9:before {
  content: "\e92a";
  margin-left: -1em;
  color: none;
}
.icon-iconfinder_1642855_hotel_valet_icon:before {
  content: "\e900";
}
